@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;

  background-image: 
  linear-gradient(to right, rgba(238,238,238,.02) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(238,238,238,.02) 1px, transparent 1px);
  background-size: 80px 80px;
  background-attachment: fixed;

}

:root {
    --pointerX: 50vw;
    --pointerY: 50vh;
    --color-cursor-gradient: rgba(0, 123, 255, 0.08)
    
}


body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at var(--pointerX) var(--pointerY),
    var(--color-cursor-gradient) 10%,
    transparent 50%
  );
  z-index: -1;
}

.nav-active {
  transform-origin: left;
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}

.nav-active {
    @apply text-info font-extrabold;

}


.nav-active .navlink-line {
    display: inline-block;
    height: 2px;
    background-color: currentColor;
    margin-right: 5px;
    animation: navlink-line-animation 0.1s ease-in-out forwards;
}

@keyframes navlink-line-animation {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}

.scroller {
  max-width: 100%;
}


.scroller__inner {
  padding-block: 1rem; 
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"]:hover .scroller__inner {
  animation-play-state: paused;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 50s linear infinite;
}



@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem))
  }
}

